<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Jetbrains.Annotations" version="23.0.0.4" targetFramework="monoandroid12.0" />
  <package id="Xamarin.Kotlin.StdLib" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="Xamarin.Kotlin.StdLib.Common" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="Xamarin.Kotlin.StdLib.Jdk7" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="Xamarin.Kotlin.StdLib.Jdk8" version="1.6.21.1" targetFramework="monoandroid12.0" />
  <package id="Xamarin.KotlinX.Coroutines.Android" version="1.6.2.1" targetFramework="monoandroid12.0" />
  <package id="Xamarin.KotlinX.Coroutines.Core.Jvm" version="1.6.2.1" targetFramework="monoandroid12.0" />
</packages>