<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Jetbrains.Annotations" version="22.0.0.2" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Kotlin.StdLib" version="1.5.31.2" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Kotlin.StdLib.Common" version="1.5.31.2" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Kotlin.StdLib.Jdk7" version="1.5.31.2" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Kotlin.StdLib.Jdk8" version="1.5.31.2" targetFramework="monoandroid10.0" />
  <package id="Xamarin.KotlinX.Coroutines.Android" version="1.5.2.2" targetFramework="monoandroid10.0" />
  <package id="Xamarin.KotlinX.Coroutines.Core.Jvm" version="1.5.2.2" targetFramework="monoandroid10.0" />
</packages>